.header {
  text-align: center;
  margin: 0 auto;
  color: #FC68AC;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 3%;
}

.header h2 {
  color: #FC68AC;
  margin-bottom: 30px;
}

.container {
  background-color: rgba(255, 220, 236, 0.65);
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.actions .button {
  margin: 1%;
  margin-top:5%;
  width: 15%;
  height: 51px;
  background: #B30141;
  border-radius: 10px;
  border-color: #FFDCEC;
  color: #FFFFFF;
  font-size: 16px;
}

.edit-note{
    padding: 2rem 0;
}

.edit-note form {
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-size: cover;
}

.edit-note form label {
  color: #FC68AC;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: center;
}

.edit-note form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
  text-align: center;
}


.edit-note form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
  text-align: center;
  max-width: 100;
}

.container-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.model {
  background-color: white;
  padding: 1rem;
  max-width: 250px;
  margin: 1rem;
  font-size: 18px;
}

.model .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.model .origin {
  font-size: 14px;
}

.radio {
  margin: 0;
}

.model1 {
  box-shadow: 8px 8px 0px #E81D7A;
  padding: 3%;
}

.model2 {
  box-shadow: 8px 8px 0px #90A223;
  padding: 3%;
}

.model3 {
  box-shadow: 8px 8px 0px #FF6A1E;
  padding: 3%;
}

input[type='radio'] {
  display: none;
}

.radio-model label{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.custom-radio {
  border: 1px solid #444444;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: #444444;
  align-items: center;
  display: flex;
}

.custom-radio span {
  content: '';
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
}

input[type='radio']:checked+.custom-radio {
  border-color: #444444;
}

input[type='radio']:checked+.custom-radio span {
  background: #E81D7A;
}

