.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.my-mural {
  color:#FC68AC
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.no-notes {
  text-align: center;
  padding: 1rem 0 1rem;
  color: gray;
}

.button {
  width: 20%;
  height: 51px;
  background: #B30141;
  border-radius: 10px;
  border-color: #FFDCEC;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 auto;
}
