<header class="header ff-inter">
  <div class ="titulo">
    <h1 class="training_notes">TRAINING NOTES</h1>
  </div>
<div class="images-header">
   <img class ="note" src="../../../assets/images/note-img.png" alt="6 papéis ara anotação penduradas em duas linhas, cada um com 3 deles.">
   <img class="girl-halter" src="../../../assets/images/model-growth-img.png" alt="figura de mulher com cabelo amarrado segurando dois halteres como demonstração de força">
   <img class="gir-bike" src="../../../assets/images/model-bike-img.png" alt="figura de mulher com cabelo amarrado andando de bicicleta ergonomica">
  </div>
</header>
