<section class="container create-notes ff-inter">
  <header class="header">
    <h2><span style="color: #FC68AC">Add new notes<br>about my training:</span></h2>
  </header>
  <form>
    <label for="note">NOTE OR REMINDER</label>
      <input
        type="textarea"
        class="input"
        id="note"
        name="note"
        placeholder="Write here what I want to remember"
        >
    <label for="origin">ORIGIN</label>
      <input
        type="textarea"
        class="input"
        id="origin"
        name="origin"
        placeholder="Write where I got this information or the author"
        >
        <label for="model">CATEGORY</label>
          <div class="container.radio">
            <div class="radio-model">
        <label for="model1">
            <input
              type="radio"
              id="model1"
              value="model1"
              name="model-card"
              >
             <div class="custom-radio">
                 <span></span>
            </div>
                 <span>Advanced Techniques</span>
           </label>
           Preview
            <div class="model model1 ff-roboto-mono">
             <img src="../../../../assets/images/icon-pink.png" alt="icon-pink-biceps">
               <p class="content">Here's the Content</p>
              <p class="author">Here's the Author</p>
           </div>
          </div>

          <div class="radio-model">
            <label for="model2">
            <input
            type="radio"
            id="model2"
            value="model2"
            name="model-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Goal Setting</span>
           </label>
           Preview
           <div class="model model2 ff-roboto-mono">
            <img src="../../../../assets/images/icon-green.png" alt="icon-green-biceps">
            <p class="content">Here's the Content</p>
            <p class="author">Here's the Author</p>
           </div>
          </div>
          <div class="radio-model">
            <label for="model3">
            <input
            type="radio"
            id="model3"
            value="model3"
            name="model-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Goal Setting</span>
           </label>
           Preview
           <div class="model model3 ff-roboto-mono">
            <img src="../../../../assets/images/icon-orange.png" alt="icon-orange-biceps">
            <p class="content">Here's the Content</p>
            <p class="author">Here's the Author</p>
           </div>
          </div>
        </div>
  </form>
</section>

